# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables 
.env

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# ML models (fisiere mari)
*.pkl
*.joblib
*.h5

# Logs
*.log